<div class="container">
    <table class="table table-striped">
      <thead >
        <tr>
          <th>State</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let task of tasks">
          <td *ngIf="task.state == 1">Pending</td>
          <td *ngIf="task.state == 2">In progress</td>
          <td *ngIf="task.state == 3">Finished</td>
          <td>{{task.description}}</td>
          <td>
            <button class="edit-task" (click) = "edit(task.id)"></button>
          </td>
          <td>
            <button class="delete-task" (click) = "delete(task.id)"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>