<div class="container">
    <table class="table table-striped">
      <thead >
        <tr>
          <th>State</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{task.state}}</td>
          <td>{{task.description}}</td>
          <td>
            <button class="btn btn-secondary btn-sm" (click) = "delete(task.id)">
              <i class="material-icons"> Delete </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>