.NewTask {
    max-width: 600px;
    margin: 30px auto;
    font-family: arial, sans-serif;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
    color: rgba(2, 10, 54, 0.911);
    background: rgba(171, 188, 207, 0.548);
}

.NewTask h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 100;
    margin: 20px auto;
    margin-bottom: 20px;
    line-height: 36px;
}

.NewTask .btn-add {
    border-radius: 5px;
    border-color: white !important;
    margin: 5px;
    padding: 5px 40px;
}

.NewTask .btn-goBack {
    border-radius: 5px;
    background: rgba(145, 146, 145, 0.288);
    border-color: white !important;
    padding: 5px 40px;
}

.NewTask .btn-goBack:hover {
    border-radius: 5px;
    background: rgba(91, 91, 91, 0.288);
    border-color: white !important;
}

.NewTask .button-row {
    text-align:center;
}

.NewTask .radiobtn {
    text-align:center;
    margin: 20px auto;
}

.NewTask .descriptionLine {
    text-align:center;
    margin: 10px auto;
}

.NewTask .radio {
    padding: 5px 50px;
}

.NewTask .textarea {
    width: 500px;
}

